<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#A4A4A4">

	<div id="contenu">

		<h1>Position Effector</h1>
		
		<p>The scene simulate force exerted by cables to solve rigid type positions effector.</p>
		<p>It uses the <FONT COLOR="#0B2161">QPInverseProblemSolver</font>, <FONT COLOR="#0B2161">CableActuator</font> and <FONT COLOR="#0B2161">PositionEffector</font> components, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/PositionEffector_Rigid_2.png"/></center>
		<br>
		<center><img src="images/PositionEffector_Rigid_1.png"/></center>
		<br>
		<p>
		Further descriptions of the component can be found at:
		<FONT COLOR="#0B2160">https://project.inria.fr/softrobot/documentation/</font>
		</p>

	</div>

</body>

</html>
