<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#F0F8FF">

	<div id="contenu">

		<h1>Cable Effector</h1>
		
		<p>The scene simulate a pressure in a cavity so solve a cable effector (you control the length of the cable.).</p>
		<p>It uses the <FONT COLOR="#0B2161">SurfacePressureActuator</font>, <FONT COLOR="#0B2161">CableEffector</font> and <FONT COLOR="#0B2161">QPInverseProblemSolver</font> components, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/PneuNets_2.png"/></center>
		<br>
		<center><img src="images/PneuNets_1.png"/></center>
		<br>
		
		<h2>How to use the demo</h2>
		<p> You can change the desired length of the cable by clicking on the "CableEffector" component and changing the variable "desiredLength".</p>
		
		<p>
		Further descriptions of the component can be found at:
		<FONT COLOR="#0B2160">https://project.inria.fr/softrobot/documentation/</font>
		</p>

	</div>

</body>

</html>
