<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#A4A4A4">

	<div id="contenu">
		<h1> Young Modulus Actuator on three regions </h1>
		
		<p>The scene simulate a young modulus constraint on three different part of the bunny to solve a set of position effectors. The regions are identified by three different color.</p>
		<p>It uses the <FONT COLOR="#0B2161">QPInverseProblemSolver</font>, <FONT COLOR="#0B2161">YoungModulusActuator</font> and <FONT COLOR="#0B2161">PositionEffector</font> components, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/bunny.png"/></center>
		<br>

	</div>

</body>

</html>
