<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#A4A4A4">

	<div id="contenu">
		<h1>ForcePointActuator</h1>
		
		<p>Simulation of two colliding soft bodies. We control the position (white sphere) of a point of the underlaying red body by applying a force on the wall.</p>
		<p>It uses the <FONT COLOR="#0B2161">QPInverseProblemSolver</font>, <FONT COLOR="#0B2161">ForcePointActuator</font> and <FONT COLOR="#0B2161">PositionEffector</font> components, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/Tissues1.png"/></center>
		<br>
		<center><img src="images/Tissues2.png"/></center>
		<br>
		<b>How to</b>
		<p> Select the sphere (shift + click left) and move it around. The effector (green square) will follow the sphere (if possible) by applying a force along a given direction.</p>
		<p>
		Further descriptions of the component can be found at:
		<FONT COLOR="#0B2160">https://project.inria.fr/softrobot/documentation/</font>
		</p>

	</div>

</body>

</html>
