<html>

<head>
<link href="../../../../../examples/Objects/sofa_white.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#A4A4A4">

	<div id="contenu">

		<p><i>NB: If the computation is slow, it might be because you did not add sparse and metis to sofa configuration.</i></p>	
	
		<h1> Surface Pressure Actuator on cavity </h1>
		
		<p>The scene simulate a pressure on a cavity in the bunny body to solve a position effector.  In this exemple we set a max pressure value.</p>
		<p>It uses the <FONT COLOR="#0B2161">QPInverseProblemSolver</font>, <FONT COLOR="#0B2161">SurfacePressureActuator</font> and <FONT COLOR="#0B2161">PositionEffector</font> components, available in the SoftRobots plugin.</p>
		<br>
		<center><img src="images/SurfacePressureActuator_1.png"/></center>
		<br>
		<b>How to</b>
		<p> Select the sphere (shift + click left) and move it around. The effector (green square) will follow the sphere (if possible) by applying pressure in the body cavity.</p>
		<p>
		Further descriptions of the component can be found at:
		<FONT COLOR="#0B2160">https://project.inria.fr/softrobot/documentation</font>
		</p>
	</div>

</body>

</html>
